#OSX
#-------------------------------------------------------------------------------
.DS_STORE


#General
#-------------------------------------------------------------------------------
download
node_modules
*.tsx
yarn.lock
package-lock.json
.idea
stats.json
Thumbs.db
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Build
build/
/npm-debug.log
/dist
.vscode
laptool
*.yaml